#logo {
  /*border-radius: 100%;*/
  /*float: left;*/
  /*margin-right: -150PX;*/
}

/* .img-portrait img{
  width: 100%;
} */

/* Colors */

header.masthead {
  background: #cc3344;
}

#mainNav {
  background: #883344!important;
}

#about {
  background: #cc3344;
}
#topbutton {
background: #883344;
border-radius: 100%;

}

a.nav-link.active:hover {
  color: #cc3344;
}
.caption {
  background: #cc3344;
  /*opacity: 40%;*/
}

.portfolio-box:not(:last-child) {
  display: block;
  margin-bottom: 1.5rem;
}

.headshot {
  text-align: center;
}

.headshot img {
  /* max-width: 800px; */
  border-radius: 15px;
}

.aboutpara p{
  width: 400px;
  font-stretch: semi-expanded;
  font-family: avenir-light, sans-serif;
}

/* Media Queries */

.my-portrait{
  width: 40%;
}
.my-portrait img{
  width: 40%;
}

@media screen and (min-width: 990px) {
  .headshot {
    text-align: right;
  }
}
