#logo {
  border-radius: 100%;
}

/* Colors */

header.masthead {
  background: #cc3344;
}

#mainNav {
  background: #883344!important;
}

#about {
  background: #cc3344;
}
#topbutton {
background: #883344;
border-radius: 100%;

}

a.nav-link.active:hover {
  color: #cc3344;
}
.caption {
  background: #cc3344;
  /*opacity: 40%;*/
}
